h4 {
  font-weight: 350;
  text-shadow: 0.05rem 0.05rem 0.2rem rgba(0, 0, 0, .5);

}

.cover-container {
  max-width: 42em;
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, .5);
  padding: 200px 0px;
}

.cover-h1 {
  font-size: 125px;
}

.cover-text {
  text-shadow: 0.05rem 0.05rem 0.1rem rgba(0, 0, 0, .5);
  font-size: 25px;
  font-weight: 500;
}

.bg {
  background-image: url('../images/coffee-shop.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.card-img-top {
  max-width: 100%;
  object-fit: cover;
}

.card-img-top:hover{
  opacity: 0.6;
}
.card-text {
  text-align: center;
  font-weight: 500;
}

#cover-hr {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.card-container {
  perspective: 1000px;
  background-color: transparent;
}

.card-container.hover .card-flipper {
  transform: rotateY(180deg);
}

.card-container, .card-front, .card-back {
  width: 330px;
  height: 330px;
}

.card-flipper {
  transition: 0.8s;
  transform-style: preserve-3d;
  position: relative;
}

.card-front, .card-back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.card-front {
  z-index: 2;
  transform: rotateY(0deg);
}

.card-back {
  transform: rotateY(180deg);
  background-color: #fff;
}

.add-cafe-bg,
.delete-cafe-bg {
  background-image: url('../images/cafe.png');
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.add-cafe-form {
  margin: 140px 0px;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  resize: vertical;
}

.delete-cafe-form {
  margin: 300px 0px;
  width: 100%;
  border-radius: 5px;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  resize: vertical;
}

.alert {

}