{% include "header.html" %}
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="{{ url_for('home') }}">Sip Spots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mx-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="{{ url_for('home') }}">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active" href="{{ url_for('add_cafe') }}">Add a Cafe</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<h1 style="padding: 200px;">Content goes here</h1>

{% include "footer.html" %}
