<footer class="bg-dark text-center text-white">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <!--        Copyright with Flask moment and link to GitHub included in footer-->
        © {{ moment().format('YYYY') }} Copyright:
        <a class="text-white" href="https://github.com/ellis3684">Corey Ellis</a>
    </div>
</footer>
<!--Bootstrap JS and static JS file included-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>