{% include "header.html" %}
<nav class="fixed-top navbar navbar-expand-lg navbar-dark bg-dark px-4">
    <div class="container-fluid">
        <a class="navbar-brand fs-4" href="{{ url_for('home') }}">Sip Spots</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav me-auto mx-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link" aria-current="page" href="#cafe-cover">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="#cafe-list">See the Spots</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link" href="{{ url_for('add_cafe') }}">Add a Cafe</a>
                </li>
            </ul>
            <form class="d-flex needs-validation" action="/search" novalidate>
                <div class="input-group has-validation">
                    <input class="form-control me-2" type="search" placeholder="Search by location" aria-label="Search"
                           name="loc" required>
                    <div class="invalid-feedback">
                        Please type a location to search for.
                    </div>
                </div>
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<div class="d-flex h-100 text-center bg" style="color: #000000" id="cafe-cover">
    <div class="cover-container d-flex w-100 h-100 mx-auto flex-column">
        <main class="px-3">
            <h1 class="cover-h1">Sip Spots</h1>
            <h4>London</h4>
            <hr id="cover-hr">
            <p class="lead cover-text">Whether it's strong WiFi, or you just need to know if you'll have a spot to plug
                your computer into, we've got you covered. Sip Spots brings to you the most work-friendly cafes in your city.</p>
        </main>
    </div>
</div>


{% with messages = get_flashed_messages(category_filter=['failure']) %}
{% if messages %}
{% for message in messages %}
<div class="m-5 alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

{% with messages = get_flashed_messages(category_filter=['success']) %}
{% if messages %}
{% for message in messages %}
<div class="m-5 alert alert-success" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% endwith %}

<div class="album py-5 bg-light" id="cafe-list">
    <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-3">
            {% for cafe in cafes %}
            <div class="col">
                <div class="card card-container shadow-sm">
                    <div class="card-flipper">
                        <div class="card-front">
                            <a href="{{ cafe.map_url }}">
                                <img src="{{ cafe.img_url }}" height=225 class="card-img-top">
                            </a>
                            <div class="card-body">
                                <p class="card-text">{{ cafe.name }}</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="flip-btn btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cafe{{ cafe.id }}">Edit</button>
                                    </div>
                                    <small class="text-muted">{{ cafe.location }}</small>
                                </div>
                            </div>
                        </div>
                        <div class="card-back">
                            <div class="card">
                                <div class="card-header" style="text-align: center;"><strong>
                                    {{ cafe.name }}
                                    </strong>
                                </div>
                                <ul class="list-group list-group-flush">
                                    <li class="list-group-item">Coffee price: {{ cafe.coffee_price }}</li>
                                    <li class="list-group-item">Seats: {{ cafe.seats }}</li>

                                    {% if cafe.has_wifi == True %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
                                            <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z"/>
                                            <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
                                        </svg>
                                         WiFi
                                    </li>
                                    {% else %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-wifi" viewBox="0 0 16 16">
                                            <path d="M15.384 6.115a.485.485 0 0 0-.047-.736A12.444 12.444 0 0 0 8 3C5.259 3 2.723 3.882.663 5.379a.485.485 0 0 0-.048.736.518.518 0 0 0 .668.05A11.448 11.448 0 0 1 8 4c2.507 0 4.827.802 6.716 2.164.205.148.49.13.668-.049z"/>
                                            <path d="M13.229 8.271a.482.482 0 0 0-.063-.745A9.455 9.455 0 0 0 8 6c-1.905 0-3.68.56-5.166 1.526a.48.48 0 0 0-.063.745.525.525 0 0 0 .652.065A8.46 8.46 0 0 1 8 7a8.46 8.46 0 0 1 4.576 1.336c.206.132.48.108.653-.065zm-2.183 2.183c.226-.226.185-.605-.1-.75A6.473 6.473 0 0 0 8 9c-1.06 0-2.062.254-2.946.704-.285.145-.326.524-.1.75l.015.015c.16.16.407.19.611.09A5.478 5.478 0 0 1 8 10c.868 0 1.69.201 2.42.56.203.1.45.07.61-.091l.016-.015zM9.06 12.44c.196-.196.198-.52-.04-.66A1.99 1.99 0 0 0 8 11.5a1.99 1.99 0 0 0-1.02.28c-.238.14-.236.464-.04.66l.706.706a.5.5 0 0 0 .707 0l.707-.707z"/>
                                        </svg>
                                        <s>WiFi</s></li>
                                    {% endif %}

                                    {% if cafe.has_sockets == True %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-plug" viewBox="0 0 16 16">
                                            <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.083 2.083 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.922 1.922 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0zM5 4v2.5A2.5 2.5 0 0 0 7.5 9h1A2.5 2.5 0 0 0 11 6.5V4H5z"/>
                                        </svg>
                                         Sockets
                                    </li>
                                    {% else %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-plug" viewBox="0 0 16 16">
                                            <path d="M6 0a.5.5 0 0 1 .5.5V3h3V.5a.5.5 0 0 1 1 0V3h1a.5.5 0 0 1 .5.5v3A3.5 3.5 0 0 1 8.5 10c-.002.434-.01.845-.04 1.22-.041.514-.126 1.003-.317 1.424a2.083 2.083 0 0 1-.97 1.028C6.725 13.9 6.169 14 5.5 14c-.998 0-1.61.33-1.974.718A1.922 1.922 0 0 0 3 16H2c0-.616.232-1.367.797-1.968C3.374 13.42 4.261 13 5.5 13c.581 0 .962-.088 1.218-.219.241-.123.4-.3.514-.55.121-.266.193-.621.23-1.09.027-.34.035-.718.037-1.141A3.5 3.5 0 0 1 4 6.5v-3a.5.5 0 0 1 .5-.5h1V.5A.5.5 0 0 1 6 0zM5 4v2.5A2.5 2.5 0 0 0 7.5 9h1A2.5 2.5 0 0 0 11 6.5V4H5z"/>
                                        </svg>
                                        <s>Sockets</s></li>
                                    {% endif %}

                                    {% if cafe.has_toilet == True %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-badge-wc" viewBox="0 0 16 16">
                                            <path d="M10.348 7.643c0-1.112.488-1.754 1.318-1.754.682 0 1.139.47 1.187 1.108H14v-.11c-.053-1.187-1.024-2-2.342-2-1.604 0-2.518 1.05-2.518 2.751v.747c0 1.7.905 2.73 2.518 2.73 1.314 0 2.285-.792 2.342-1.939v-.114h-1.147c-.048.615-.497 1.05-1.187 1.05-.839 0-1.318-.62-1.318-1.727v-.742zM4.457 11l1.02-4.184h.045L6.542 11h1.006L9 5.001H7.818l-.82 4.355h-.056L5.97 5.001h-.94l-.972 4.355h-.053l-.827-4.355H2L3.452 11h1.005z"/>
                                            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                        </svg>
                                        Restroom
                                    </li>
                                    {% else %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-badge-wc" viewBox="0 0 16 16">
                                            <path d="M10.348 7.643c0-1.112.488-1.754 1.318-1.754.682 0 1.139.47 1.187 1.108H14v-.11c-.053-1.187-1.024-2-2.342-2-1.604 0-2.518 1.05-2.518 2.751v.747c0 1.7.905 2.73 2.518 2.73 1.314 0 2.285-.792 2.342-1.939v-.114h-1.147c-.048.615-.497 1.05-1.187 1.05-.839 0-1.318-.62-1.318-1.727v-.742zM4.457 11l1.02-4.184h.045L6.542 11h1.006L9 5.001H7.818l-.82 4.355h-.056L5.97 5.001h-.94l-.972 4.355h-.053l-.827-4.355H2L3.452 11h1.005z"/>
                                            <path d="M14 3a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h12zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
                                        </svg>
                                        <s>Restroom</s></li>
                                    {% endif %}

                                    {% if cafe.can_take_calls == True %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                        </svg>
                                        Business calls: OK
                                    </li>
                                    {% else %}
                                    <li class="list-group-item">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                                             fill="currentColor" class="bi bi-telephone" viewBox="0 0 16 16">
                                            <path d="M3.654 1.328a.678.678 0 0 0-1.015-.063L1.605 2.3c-.483.484-.661 1.169-.45 1.77a17.568 17.568 0 0 0 4.168 6.608 17.569 17.569 0 0 0 6.608 4.168c.601.211 1.286.033 1.77-.45l1.034-1.034a.678.678 0 0 0-.063-1.015l-2.307-1.794a.678.678 0 0 0-.58-.122l-2.19.547a1.745 1.745 0 0 1-1.657-.459L5.482 8.062a1.745 1.745 0 0 1-.46-1.657l.548-2.19a.678.678 0 0 0-.122-.58L3.654 1.328zM1.884.511a1.745 1.745 0 0 1 2.612.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z"/>
                                        </svg>
                                        <s>Business calls: OK</s>
                                    </li>
                                    {% endif %}

                                </ul>
                                <div class="card-footer">
                                    <div class="btn-group">
                                        <button type="button" class="flip-btn btn btn-sm btn-outline-secondary">Front
                                        </button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#cafe{{ cafe.id }}">Edit</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="cafe{{ cafe.id }}" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Edit Cafe Info</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>

                        <form action="/edit" method="post">
                            <div class="modal-body">
                                <input type="hidden" value="{{ cafe.id }}" name="id">
                                <div class="mb-3">
                                    <label class="form-label">Update name:</label>
                                    <input value="{{ cafe.name }}" class="form-control" name="name">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Update location:</label>
                                    <input value="{{ cafe.location }}" class="form-control" name="location">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Update Google Maps URL:</label>
                                    <input value="{{ cafe.map_url }}" class="form-control" name="maps_url">
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Update cafe image:</label>
                                    <input value="{{ cafe.img_url }}" class="form-control" name="img_url">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Update coffee price:</label>
                                    <input value="{{ cafe.coffee_price.replace('£', '') }}" class="form-control" name="coffee_price">
                                </div>

                                <div class="mb-3">
                                    <label class="form-label">Update seating capacity:</label>
                                    <input value="{{ cafe.seats }}" class="form-control" name="seats">
                                </div>

                                <div class="mb-3">
                                    <label class="form-check-label">Has a restroom?</label>
                                    <select class="form-select form-select-sm" name="has_toilet">
                                        {% if cafe.has_toilet %}
                                        <option value="true" selected>Yes</option>
                                        <option value="">No</option>
                                        {% else %}
                                        <option value="true">Yes</option>
                                        <option value="" selected>No</option>
                                        {% endif %}
                                    </select>
                                </div>


                                <div class="mb-3">
                                    <label class="form-check-label">Has WiFi?</label>
                                    <select class="form-select form-select-sm" name="has_wifi">
                                        {% if cafe.has_wifi %}
                                        <option value="true" selected>Yes</option>
                                        <option value="">No</option>
                                        {% else %}
                                        <option value="true">Yes</option>
                                        <option value="" selected>No</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-check-label">Has plug sockets?</label>
                                    <select class="form-select form-select-sm" name="has_sockets">
                                        {% if cafe.has_sockets %}
                                        <option value="true" selected>Yes</option>
                                        <option value="">No</option>
                                        {% else %}
                                        <option value="true">Yes</option>
                                        <option value="" selected>No</option>
                                        {% endif %}
                                    </select>
                                </div>

                                <div class="mb-3">
                                    <label class="form-check-label">Can take business calls?</label>
                                    <select class="form-select form-select-sm" name="can_take_calls">
                                        {% if cafe.can_take_calls %}
                                        <option value="true" selected>Yes</option>
                                        <option value="">No</option>
                                        {% else %}
                                        <option value="true">Yes</option>
                                        <option value="" selected>No</option>
                                        {% endif %}
                                    </select>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="submit" formmethod="get" formaction="/delete" class="btn btn-danger">Delete</button>
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Save changes</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>



{% include "footer.html" %}